.montserrat-regular {
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold {
    font-family: montserrat,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-black {
    font-family: montserrat,sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px
}

pre {
    background: black;
    color: white;
    padding: 50px;
    font-family: montserrat;
    font-weight: 400;
    font-style: normal;
}

div {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

blockquote {
    font-family: montserrat;
    font-size: 20px;
}
