/* PROJECT WIDE VARIABLE */
:root {
  /* --base-green-light: #83E568;
  --base-green-dark: #6db85c;
  --base-purple-light: #7E80C7;
  --base-purple-dark: #7e2ac7; */

  /* PHONE-PORTRAIT */
  /* PHONE-LANDSCAPE */
  /* TABLET-PORTRAIT */
  /* TABLET-LANDSCAPE */
  /* LAPTOP */
  /* DESKTOP */

}
