@responsive {

    .icon-5 {
        height: 5px;
        width: 5px;
    }

    .icon-10 {
        height: 10px;
        width: 10px;
    }

    .icon-15 {
        height: 15px;
        width: 15px;
    }

    .icon-20 {
        height: 20px;
        width: 20px;
    }

    .icon-25 {
        height: 25px;
        width: 25px;
    }

    .icon-30 {
        height: 30px;
        width: 30px;
    }

    .icon-35 {
        height: 35px;
        width: 35px;
    }

    .icon-40 {
        height: 40px;
        width: 40px;
    }

    .icon-45 {
        height: 45px;
        width: 45px;
    }

    .icon-50 {
        height: 50px;
        width: 50px;
    }

    .icon-75 {
        height: 75px;
        width: 75px;
    }

    .icon-100 {
        height: 100px;
        width: 100px;
    }

}
