@responsive {
    .duration-250 {
        transition-duration: 0.25s;
    }

    .duration-500 {
        transition-duration: 0.5s;
    }

    .duration-750 {
        transition-duration: 0.75s;
    }

    .duration-1000 {
        transition-duration: 1s;
    }

    .duration-1250 {
        transition-duration: 1.25s;
    }

    .duration-1500 {
        transition-duration: 1.5s;
    }

    .duration-1750 {
        transition-duration: 1.75s;
    }

    .duration-2000 {
        transition-duration: 2s;
    }
}
